.achivments {
    @include container(1308px);
    position: relative;
    width: 100%;
     @media #{$media-normal-up} {height: 482px;}
    background-image: url('../images/achivments-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media #{$media-minimum} {
        background-attachment: initial;
    }
    color: #FFFFFF;
    .content {
        h3 {
            font-size: 2.6em;
            margin-bottom: 35px;
        }
        p {
            font-size: 1.4em;
            line-height: 2.2em;
        }
        padding: 110px 70px;
        max-width: 790px;
        @media screen and (max-width: 1014px) {
            width: 100%;
            padding: 40px 50px;
        }
    }
    .content-blocks {
        margin-top: 30px;
    }
    .block {
        display: inline-block;
        width: 33%;
        @media #{$media-minimum} {
            width: 100%;
            margin-top: 10px;
        }
        
        img {
            vertical-align: top;
        }
        p {
            margin-left: 20px;
            display: inline-block;
            font-size: 60px;
            line-height: 40px;
            font-weight: 800;
            span {
                font-size: 22px;
                font-weight: 400;
            }
        }
    }
    .person {
        position: absolute;
        top: 0;
        right: 80px;
        margin-top: -66px;
        @media screen and (min-width: 800px) and (max-width: 1208px) {
            right: 0;
            margin-top: -20px;

        }
        @media screen and (max-width: 1067px) {
            display: none
        }
    }
}
