nav {
    @include container(1308px);
    left: 0px;
    right: 0px;
    top: 0;
    z-index: 99;
    position: fixed;
    width: 100%;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.70);
    .logo {
        width: 30%;
        float: left;
        padding: 20px 70px;
        img {
            display: inline-block;
        }
    }
    @media #{$media-small-up} {
        #menu {
            display: block!important;
        }
    }
    .menu {
        width: 70%;
        float: left;
        text-align: right;
        list-style: none;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        padding: 17px 70px 0 0;
        ul {
            padding-left: 10px;
        }
        li {
            display: inline-block;
            margin: 0;
            font-weight: 600;
            cursor: pointer;
            padding: 5px 25px;
            a {
                text-decoration: none;
                color: #FFFFFF;
                position: relative;
                text-transform: none
            }
            a:hover {
                color: $primary-color;
            }
        }
        #drpDwn-menu {
            display: none;
        }
        .dropdown-menu {
            font-weight: 400;
            position: absolute;
            margin-top: 17px;
            padding: 5px 20px 5px 5px;
            text-align: left;
            background-color: #111215;
            width: 160px;
            a {
                display: block;
                padding: 2px 5px;
                padding: 10px;
            }
            a:hover {
                color: $primary-color;
            }
            @media #{$media-small-down} {
                margin: 0 auto;
                width: 100%;
                background-color: #111215;
                position: relative;
                text-align: center;
                margin-top: 0px;
                padding: 0;
                font-size: 0.6em;
            }
        }
    }
    .mobile-menu {
        display: none;
    }
    #overlay {
        display: block;
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0,1);
        overflow-y: hidden;
        transition: 0.3s;
        .closebtn {
            position: absolute;
            top: 5px;
            right: 30px;
            font-size: 66px;
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}

nav:before,
nav:after {
    content: "";
    display: table;
    clear: both;
}

@media #{$media-small-down} {
    nav {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7)!important;
        .logo {
            width: 50%;
            padding: 20px;
        }
        #menu {
            display: none;
        }
        .menu {
            width: 30%;
            .screen-block {}
            ul {
                animation: fadein 2s;
                position: fixed;
                top: 30%;
                left: 0;
                width: 100%;
                font-size: 2em;
                z-index: 999;
                li {
                    display: block;
                    text-align: center;
                }
            }
            .mobile-menu {
                display: inline-block;
                vertical-align: middle;
                position: fixed;
                right: 8px;
                top: 8px;
                border: 10px solid #000000;
                border-radius: 500px;
                background-color: #000000;
                cursor: pointer;
                -webkit-transition: -webkit-transform .5s ease-in-out;
                transition: transform .5s ease-in-out;
            }
            .mobile-menu:hover {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    }
}
