.video-faq {
    @include container(1308px);
    position: relative;
    clear: both;
    ::selection {
        background-color: #c0c0c0;
    }
    .video {
        width: 56.5%;
        display: inline-block;
        float: left;
        .video-wrapper {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .faq {
        width: 43.5%;
        display: inline-block;
        float: left;
        background-color: #FFFFFF;
        padding: 60px 30px;
        h3 {
            font-size: 2.6em;
            font-weight: 600;
            margin-bottom: 20px;
        }
        li {
            list-style-type:none;
            font-weight: 200;
        }
        li.q {
            border-bottom: 1px #ddd solid;
            cursor: pointer;
            color: #333333;
            padding: 10px 0;
            font-size: 1.6em;
            img{margin-right:5px;}
        }
        li.a {
            display: none;
            color: #333333;
            font-size: 1.4em;
            padding: 10px 0;
        }
        hr {
            width: 100%;
            display: block;
            margin: 10px 0;
            height: 1px;
            border: 0;
            border-top: 2px solid #cfcfcf;
        }
        img {
            vertical-align: middle;
            margin-top: -5px;
            @media screen and (min-width: 1025px) and (max-width: 1220px) {
                display: none;
            }
        }
    }
}

@media #{$media-small-down} {
    .video-faq {
        .video {
            width: 100%;
            clear: both;
        }
        .faq {
            width: 100%;
            clear: both;
        }
    }
}
