// +++++++++++++
// UTILITIES
// +++++++++++++

@import "normalize";
@import "sprites";
@import "variables";

// ++++++++++++++++++
// MIXINS
// ++++++++++++++++++

@mixin container($width) {
    max-width: $width;
    margin: 0 auto;
}

// +++++++++++++
// PARTS
// +++++++++++++

@import "header";
@import "nav";
@import "section-services";
@import "article";
@import "footer";
@import "buttons";
@import "video-faq";
@import "testimonials";
@import "achivments";
@import "googlemaps";
@import "contactus";
// ++++++++++++++++++
// IMPORTED GOOGLE FONTS
// ++++++++++++++++++

@import url('https://fonts.googleapis.com/css?family=Merriweather:300');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway:700');

// ++++++++++++++++++
// GENERIC BODY STYLE
// ++++++++++++++++++
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;
    font-size: 62.5%;
    font-family: "Open Sans", serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}

::selection {
  background: #da491c; 
}

// ++++++++++++++++++
// CSS KEYFRAME ANIMATIONS
// ++++++++++++++++++
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}





