// +++++++++++++
// UTILITIES
// +++++++++++++
@import "normalize";
@import "mixins";
@import "variables";
// +++++++++++++
// PARTS
// +++++++++++++
@import "header";
@import "nav";
@import "section";

// ++++++++++++++++++
// IMPORTED GOOGLE FONTS
// ++++++++++++++++++
@import url('https://fonts.googleapis.com/css?family=Merriweather:300');


// ++++++++++++++++++
// GENERIC BODY STYLE
// ++++++++++++++++++
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


footer {}
